@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

mat-icon {
  border: hidden !important;
  color: black;
}

:host ::ng-deep .mat-form-field-flex {
  background: white;
  border: 2px solid #cecece;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

header .navbar-custom {
  background-color: white;
  z-index: 1000;
}
header .navbar-custom .navbar-brand img {
  margin-bottom: 8px;
}
header .navbar-custom .nav-link {
  color: black;
}
header .navbar-custom .active {
  color: #006EFF;
}
header .navbar-custom .btn-primary:hover {
  background: white;
  color: #006EFF;
  border: 1px solid #006EFF;
}
header .navbar-custom .username a {
  text-decoration: none;
  color: black;
}
@media (min-width: 992px) {
  header .navbar-custom .navbar-nav {
    margin-left: 5%;
  }
  header .navbar-custom .nav-item {
    font-size: 15px;
    font-weight: 700;
  }
  header .navbar-custom .nav-item .btn {
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
  }
  header .navbar-custom .username {
    margin-top: 10px;
  }
}
@media (max-width: 991.98px) {
  header .navbar-custom .navbar-nav {
    margin-top: 10px;
  }
  header .navbar-custom .nav-item .btn {
    margin-bottom: 10px;
    margin-left: -10px;
  }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  background: white;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
  z-index: 100;
}

.shortcut-links a {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}
.shortcut-links a img {
  margin-right: 20px;
  max-width: 20px;
}
.shortcut-links a p {
  margin-top: 15px;
}

mat-sidenav {
  padding-top: 106px;
  height: 100%;
  background-color: white;
}

mat-sidenav-content {
  padding-top: 106px;
  height: 100%;
  background-color: #F3F3F3;
}

.find-jobs .contain {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F3F3F3;
}
.find-jobs .section-white {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.find-jobs .section-search-grey {
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 20px;
  border: 2px solid #cecece;
}
.find-jobs .section-search-grey button {
  color: white;
  border: white;
  background: unset;
}
.find-jobs .section-search-grey .button-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
@media (max-width: 767.98px) {
  .find-jobs .section-search-grey .button-wrapper .btn {
    margin: 20px 0px;
  }
}
@media (min-width: 520px) {
  .find-jobs .section-search-grey .button-wrapper {
    align-items: center;
    flex-flow: row wrap;
  }
  .find-jobs .section-search-grey .btn-container-left > a.btn {
    margin-left: 12px;
    margin-right: 2px;
  }
  .find-jobs .section-search-grey .btn-container-left {
    justify-content: flex-start;
  }
  .find-jobs .section-search-grey .btn-container-left > a.btn:first-of-type {
    margin-left: 0;
  }
  .find-jobs .section-search-grey .btn-container-left > a.btn:last-of-type {
    margin-right: 0;
  }
  .find-jobs .section-search-grey .btn-container-col-left {
    flex-direction: column;
    align-items: flex-start;
  }
}
.find-jobs .section-title {
  border: 10px solid white;
}
.find-jobs .section-title a {
  text-decoration: none;
}
.find-jobs .section-title p {
  margin-bottom: 8px;
}
.find-jobs .section-title .badge {
  background-color: #F0F0F0;
}
@media (max-width: 767.98px) {
  .find-jobs .section-title .photo-border {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .find-jobs .section-title .photo-border {
    margin-right: 90px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .find-jobs .section-title .photo-border {
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .find-jobs .section-title .photo-border {
    margin-right: 60px;
  }
}
.find-jobs .section-title img {
  width: 120px;
}
.find-jobs .section-title .col-button {
  display: grid;
}
@media (max-width: 767.98px) {
  .find-jobs .section-title .col-button button {
    margin-top: 20px !important;
  }
}
.find-jobs .section-title .col-button button {
  margin: auto;
}
.find-jobs .section-title .col-button button img {
  margin-top: -5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: invert(25%) sepia(92%) saturate(2460%) hue-rotate(207deg) brightness(101%) contrast(105%);
}
.find-jobs .section-title .col-button button:hover {
  margin: auto;
}
.find-jobs .section-title .col-button button:hover img {
  margin-top: -5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(263deg) brightness(103%) contrast(101%);
}
.find-jobs .section-job-list img {
  width: 100px;
  height: 100px;
}
.find-jobs .section-job-list .job-list-text {
  margin-left: 3%;
}/*# sourceMappingURL=job-find.component.css.map */