.modal-body {
    border: 2px dashed grey;
    border-radius: 10px;
    margin: 15px;

    img {
        width: 150px;
        height: 100px;
    }
}

.modal-header {
    h5 {
        font-weight: 900;
    }
}