<div class="container">
    <div class="row row-centered">
        <div class="item">
            <div class="content">
                <img class="image-doc" src="assets/image/verifEmail.png" alt="image">
            </div>
            <div class="col-md-6 col-centered">
                <p class="text-center hw1">
                    Check your e-mail for verification.
                </p>
                <p class="text-center hw2">
                    E-mail verification has been sent to the {{ verifModel.formGroupRegister.controls['jobseekerEmail'].value }}.
                </p>
            </div>
        </div>
    </div>
</div>
