<div class="container">
    <div class="row row-centered">
        <div class="item">
            <div class="content">
                <img class="image-doc" src="assets/image/verifEmail.png" alt="image">
            </div>
            <div class="col-md-6 col-centered">
                <form class="form-group">
                    <p class="text-center hw1">
                        Enter the E-mail address you use to sign in to
                    </p>
                    <div class="form-size">
                        <div class="form-group">
                            <input formControlName="jobseekerEmail" type="email" class="form-control form-control-user"
                                id="exampleInputEmail" aria-describedby="emailHelp" 
                                placeholder="yourpersonal@mail.com" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="font-style-btn btn btn-primary btn-user ">Reset My Password</button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
