<div class="container">
    <div class="row">
        <div class="contentBox col-md-6">
            <img src="assets/image/forgot.png" class="card-img-top" alt="image">
        </div>
        <div class="col-md-6 mt-4">
            <form class="form-group">
                <div>
                    <h4 class="h4 text-gray-900 mb-4 text-position0 text-weight">Don't Worry</h4>
                    <p class="text-secondary text1">We are here to help you recover your password.</p>
                    <p class="text-secondary text2">Enter the email address you used when register and we’ll send you an e-mail to reset your password</p>
                </div>
                <div class="form-size">
                    <div class="form-group">
                        <input formControlName="jobseekerEmail" type="email" class="form-control form-control-user"
                            id="exampleInputEmail" aria-describedby="emailHelp" 
                            placeholder="yourpersonal@mail.com" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="font-style-btn btn btn-primary btn-user ">Reset My Password</button>
                    </div>
                </div>
            </form>
                <div class="text-center"> 
                    <a class="small text4" href=""> I have not received a reset password e-mail</a>
                </div>
        </div>
    </div>
</div    >

