@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$biru : #006EFF;
$biru_card : #ECF3FF;
$abu : #F3F3F3;
$abu4 : #F0F0F0;

* {
    font-family: 'Montserrat', sans-serif;
}

header {
    .navbar-custom {
        background-color: white;
        z-index: 1000;

        .navbar-brand {

            img {
                margin-bottom: 8px;

            }
        }


        .nav-link {
            color: black;
        }

        .active {
            color: $biru;
        }

        .btn-primary:hover {
            background: white;
            color: $biru;
            border: 1px solid $biru;
        }

        .username {
            a {
                text-decoration: none;
                color: black;
            }
        }

        @media (min-width: 992px) {

            .navbar-nav {
                margin-left: 5%;
            }

            .nav-item {
                font-size: 15px;
                font-weight: 700;


                .btn {
                    font-size: 15px;
                    font-weight: 700;
                    margin-left: 5px;
                }
            }

            .username {
                margin-top: 10px;
            }
        }

        @media (max-width: 991.98px) {
            .navbar-nav {
                margin-top: 10px;
            }

            .nav-item {

                .btn {
                    margin-bottom: 10px;
                    margin-left: -10px;
                }
            }
        }
    }
}


@media (max-width: 767.98px) {
    main {

        .contain {
            margin-top: 25%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    main {

        .contain {
            margin-top: 10%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    main {

        .contain {
            margin-top: 3%;
        }
    }
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 8px;
}

.section-title {

    a {
        text-decoration: none;
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 8px;
    }

    .badge {
        background-color: $abu4;
    }

    @media (max-width: 767.98px) {
        .photo-border {
            margin-bottom: 20px;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {

        .photo-border {
            margin-right: 90px;
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .photo-border {
            margin-right: 60px;
        }
    }

    @media (min-width: 1200px) {
        .photo-border {
            margin-right: 30px;
        }
    }



    img {
        width: 120px;
    }

    .btn {
        margin-right: 15px;
        margin-top: 15px;

        img {
            margin-top: -5px;
            width: 20px;
            height: 20px;
        }

        .filter-blue {
            filter: invert(25%) sepia(92%) saturate(2460%) hue-rotate(207deg) brightness(101%) contrast(105%);
        }
    }
}