<div class="container">
    <div class="row row-centered">
        <div class="item">
            <div class="content">
                <img class="image-doc" src="assets/image/formPass.png" alt="image">
            </div>
            <div class="col-md-6 col-centered">
                <form class="form-group">
                    <p class="text-center hw1">
                        Input password below
                    </p>
                    <div class="form-size">
                        <div class="form-group">
                            <input formControlName="jobseekerPassword"  type="password" class="form-control form-control-user" id="exampleInputPassword"
                            placeholder="Create new password (Min. 8 Characters)" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9_]).{8,}" required="">
                        </div>
                        <div class="form-group">
                            <input formControlName="jobseekerConfirmPassword" type="password" class="form-control form-control-user" 
                            id="exampleInput2Password" placeholder="Re-enter new password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9_]).{8,}" required="">   
                        </div>
                        <div class="d-grid gap-2">
                            <button class="font-style-btn btn btn-primary btn-user ">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
